html * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  opacity:0;
  transition: 1500ms opacity;
  }

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/bg-2.jpg?v=1675657351690);
  background-size: contain; 
  background-position: center center;
  padding: 1rem;
  padding-bottom: 15rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  padding-left: 3rem;
  max-width: 35rem;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width:fit-content;
  margin: 0;
  background-color: #cacaca00;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-thing p {
  padding: 1rem;
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 30rem auto;
  margin-top: 20rem;
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: #f41230c6;
  color: #ffffff;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.header-image {
  width: 100%;
}

.header-text {
  color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 7vh;
  font-weight: bold;
  font-style: italic; 
  background-color: #f41230bd; 
  width: 85%;
  padding: 5px;
}

.subhead-text {
  color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:xx-large;
  font-weight: bold;
  font-style: italic; 
  position: relative;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-40rem, -55rem);
}

.keywords {
  font-size: 8vh;
  color: #f41230bd;
  -webkit-text-stroke: 1px rgb(49, 49, 49);
}

.thumbnail {
  overflow: hidden
}

.video {
  height: 3rem;
  width: auto;
  align-content: center;
}

.footerText{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: #ffffff;
  background-color: #f41230bd;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

#social{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 5rem;
  transform: translate(-3rem, -55rem);
  overflow: hidden;
}

#credit{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: #ffffff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900;
}

.One {
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/Frame-3.jpg?v=1675657360574);
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  height: 100%; 
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
  }

.Two {
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/Frame-4.jpg?v=1675657367228);
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  height: 100%; 
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
}

.Three {
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/Frame-5.jpg?v=1675657371082);
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  height: 100%; 
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
}

.Four {
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/Frame-6.jpg?v=1675657374733);
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  height: 100%; 
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
}

.Five {
  background-image: url(https://cdn.glitch.global/1e754d00-c672-43c9-81ed-6453d6359044/Frame-7.png?v=1675657378452);
  background-color: rgba(0, 0, 0, 0);
  width: 100%; 
  height: 100%; 
  background-size: contain; 
  background-position: center center;
  background-repeat: no-repeat;
}
/* @media screen and (orientation:portrait) {display: .full-screen ; */
 /* } */

/*.full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
}
